*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: rgb(255,255,255);

}
body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.2)),url(./image/fall.jpg) no-repeat center/cover;
}
#weather{
    width: 350px;
    border-radius: 10px;
    padding: 30px 20px;
    background: url(./image/spring.png) center/cover;
    text-align: center;
}
.search{
    width: 100%;
    height: 35px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    opacity: 0.3;
    padding: 15px ;
    border: none;
    outline:none;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 5px 4px rgba(0,0,0,0.2);
    transition: 0.4s;
    font-size: 19px;
    color: black
}
.search:focus{
    background: rgba(255,255,255);
    opacity: 0.6;
    border-radius: 15px 0 15px 0;
}
.content{
    margin:40px;
    color: rgb(255,255,255);
    text-shadow: 1px 1px 0.5px rgba(0,0,0,0.9);
    
}
.temperature{
    font-size: 50px;
    background: rgba(255,255,255,0.7);
    width:70%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px rgba(0,0,0,0.5);
    border-radius: 10px;
    text-shadow: 5px 2px rgb(28, 17, 17);
    
    
}
.temperature>h3{
    margin: 10px;
    color:white;
    border: none;
    outline: none;
    text-shadow: 5px 2px rgb(28, 17, 17);
    
}
.climate{
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px rgb(0,0,0);
    transition: 0.4;
}
.categories{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 10px 40px 10px;
    text-shadow: 2px 2px rgb(0,0,0);

}
.categories> div {
    flex-direction: column;
}
.container {
    opacity: 0;
    height: 400px;
    transition: 0.4s;
}
.visible{
    opacity: 1;
}
/* Spring */
.spring {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7),rgba(0,0,0,0.2)),url(./image/spring.png) no-repeat center/cover;
}
.spring #weather {
    background: url(./image/spring.png) center/cover;
}
/* Summer */
.summer {
    background: linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.2)),url(./image/summer.avif) no-repeat center/cover;
}
.summer #weather {
    background: url(./image/summer.avif) center/cover;
}hot
/* Fall */
.fall {
    background: linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.2)),url(./image/fall.jpg) no-repeat center/cover;
}
.fall #weather {
    background: url(./image/fall.jpg) center/cover;
}
/* Winter */
.winter {
    background: linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.2)),url(./image/winter.jpg) no-repeat center/cover;
}
.winter #weather {
    background: url(./image/winter.jpg) center/cover;
}